<div class="form-group">

    <div class="form-icon">
        <img src="assets/img/icons/icon-hour.png" alt="">
         Horário
    </div>

    <h3>Qual período quer treinar?</h3>

    <div class="radio-wrapper">
        <input type="radio" name="morning" value="morning"/>
        <label for="morning">Manhã</label>
        <span> 06:00 às 12:00</span>
    </div> 
    
    <div class="radio-wrapper">
        <input type="radio" name="afternoon" value="afternoon"/>
        <label for="afternoon">Tarde</label>
        <span> 12:01 às 18:00</span>
    </div>
    
    <div class="radio-wrapper">
        <input type="radio" name="nigth" value="nigth"/>
        <label for="nigth">Noite</label>
        <span> 18:01 às 23:00</span>
    </div>
    <div class="checkbox-wrapper">
        <div class="checbox">
            <input type="checkbox" name="showClose" value="show-unit">
            <label for="show-unit"> Exibir unidades fechadas </label>
        </div>   
        <span> Resultados encontrados: <strong>{{ results.length }} </strong> </span>
    </div>

    <div class="btn-wrapper">
        <button class="btn btn-primary">Encontrar unidade</button>
        <button class="btn btn-secondary">Limpar</button>
    </div>

</div>
